:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  display: inline block;
  text-decoration: none;
}

img {
  display: block;
}

/* Heder section */

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: inline-block;
  margin: 0 auto;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;
}

.accent-header {
  color: #2e2f42;
}

.accent-footer {
  color: #f4f4fd;
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.contact-menu {
  font-style: normal;
}

.contact {
  gap: 40px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.menu-link.active {
  position: relative;
  color: #404bbf;
}

.menu-link.active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* Hero section */

.hero-section {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.main-nav {
  align-items: center;
  display: flex;
}

.menu-button {
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;

  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  background-color: #404bbf;
}

/* About section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.about-title {
  margin: auto;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;

  width: 264px;
  height: 24px;
}

.about-text {
  margin: auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;

  width: 264px;
  height: 72px;
}

.icon-container {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon-list {
  width: 59.72px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.punctuality-icon-list {
  width: 61.22px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies-icon-list {
  width: 50.13px;
  height: 55.46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Portfolio section */

.portfolio-section {
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 16px) / 3);
}
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

/* Team section */

.team-section {
  background-color: #f4f4fd;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.our-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
  border-top-right-radius: 0px;
  justify-content: space-evenly;
  flex-basis: calc((100% - 72px) / 4);
}

.or-team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.or-team-card-content {
  padding: 32px 0 32px;
}

.our-team-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

/* Customers section */

.customers-title {
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-list-icon {
  fill: currentColor;
}

.customers-item:hover,
.customers-item:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
}

/* Footer section */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 312px;
  background-color: #2e2f42;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-section .logo-link {
  margin-right: 0;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}

/* Social footer */

.social-footer {
  align-items: baseline;
  gap: 120px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-footer-list {
  display: flex;
  gap: 16px;
}

.social-footer-list-item {
  width: 40px;
  height: 40px;
}

.social-footer-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-list-link:hover,
.social-footer-list-link:focus {
  background-color: #31d0aa;
}

.social-footer-list-icon {
  display: flex;
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

/* Button section portfolio */

.button-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-button-nav {
  padding: 12px 24px;
  border-radius: 4px;
  border-top: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-transform: none;
  cursor: pointer;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-nav:first-child:hover,
.menu-button-nav:first-child:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.top-button-nav:hover,
.top-button-nav:focus {
  background-color: #404bbf;
}

.menu-button-list {
  justify-content: center;
  margin-bottom: 72px;
  align-items: center;
  display: flex;
  gap: 24px;
}

.menu-button-nav:hover {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}

.menu-button-nav:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}

.project-card-list {
  gap: 24px;
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  flex-basis: calc((100% - 48px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-list-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;

  color: #F4F4FD;
  background-color: rgba(77, 90, 229, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
 transform: translate(0, 0);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.project-title {
  margin-bottom: 8px;
}

/* Hero project card */

.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.sub {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

.project-link {
  text-decoration: none;
}

/* Modal window */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  height: 584px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none; 
  background-color: #404bbf;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
